/*********************************************************

rb-page-main
----------------------------------------------------------
Main content section page
**********************************************************/
.rb-page-main {
	width: 100%;
	flex: 1;
	margin-bottom: 60px;
}
