/*********************************************************

rb-page-footer
----------------------------------------------------------
Main footer Element Page
**********************************************************/
.rb-page-footer {
	width: 100%;
	background: $color-3a;

	.rb-col-group {
		max-width: inherit;
	}
}
