<header class="rb-page-header" role="banner">
	<div class="rb-col-group is-gutter-horizontal">
		<div class="rb-col">
			{{#with rb_logo }}
				{{> rb_logo }}
			{{/with}}
		</div>
		<div class="rb-col is-offset-right">
			{{#with rb_main_nav.default }}
				{{> rb_main_nav }}
			{{/with}}
		</div>
	</div>
</header>



