// Color-Variables
$color-1a: #fff; //white
$color-1b: #f1f1f1; // off-white
$color-1c: #eee; // off-white

$color-2a: #005b74;
$color-2b: #80b3c1;

$color-3a: #282828;
$color-3b: #434343;
$color-3c: #525252;
$color-3d: #7c7c7c;
$color-3e: #9a9c9a;
$color-3f: #b5b5b5;
$color-3g: #d6d7d5;
$color-3h: #eee;
$color-3i: #f9faf9;


$color-4a: #0AE8B6;
$color-4b: #95D9C0;
$color-4c: #2D83C1;
$color-4d: #62B8F6;
$color-4e: #C1316B;
$color-4f: #D06F96;
$color-4g: #D258F7;
$color-4h: #E093F7;
$color-4i: #EBE860;
$color-4j: #F7F591;
$color-4k: #FBC85D;
$color-4l: #FFDA8D;
