---
title: Getting Started
layout: default_tpl.hbs
---

<section class="rb-page-section is-highlight-1">
	<div class="rb-page-inner is-col-group">
		<div class="rb-page-col is-size-80">
			{{#with getting_started.intro }}
				{{> rb_intro }}
			{{/with}}
		</div>
	</div>

	<div class="rb-col-group is-gutter">
		<div class="rb-col is-size-30">
			<nav class="rb-sub-nav">
				<ul class="sub-nav-group">
					<li class="sub-nav-section">
						<h2>Grid</h2>
						<ul class="sub-nav-list">
							<li class="sub-nav-item">
								<a href="#" class="sub-nav-item-link">Link A</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>

		<div class="rb-page-col is-size-70">

		</div>

	</div>
</section>




