---
title: Getting Started
layout: default_tpl.hbs
content:  sources/assemble/data/grid_layout2.md
---

<section class="rb-page-section is-highlight-1">
	<div class="page-section-block is-column-group is-gutter">
		<div class="is-size-80">
			{{#with getting_started.intro }}
				{{> rb_intro }}
			{{/with}}
		</div>
	</div>

	<div class="page-section-block is-column-group is-gutter">

		<div class="is-size-70">
			<div class="rb-richtext">
				{{md '**/setup_rawblock.md' }}
			</div>
		</div>

	</div>
</section>




