---
title: Getting Started
layout: default_tpl.hbs
content:  sources/assemble/data/grid_layout2.md
---

<section class="rb-page-section is-highlight-1">
	<div class="page-section-block is-col-group is-gutter">
		<div class="is-size-80">
			{{#with getting_started.intro }}
				{{> rb_intro }}
			{{/with}}
		</div>
	</div>

	<div class="page-section-block is-col-group is-gutter">
		<div class="is-size-30">
			<nav class="rb-sub-nav">
				<ul class="sub-nav-group">
					<li class="sub-nav-section">
						<h2 class="sub-nav-heading">Grid</h2>
						<ul class="sub-nav-list">
							<li class="sub-nav-item">
								<a href="#" class="sub-nav-item-link">Link A</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>

		<div class="is-size-70">
			{{md '**/grid_layout.md' }}
		</div>

	</div>
</section>




