---
title: startpage
layout: default_tpl.hbs
---

<section class="rb-page-section">
	<div class="rb-col-group is-gutter">

		<div class="rb-col is-size-75">
			{{#with startpage.stage }}
				{{> rb_stage }}
			{{/with}}
		</div>

		<div class="rb-col is-size-25">
			{{> rb_test_teaser }}
		</div>

	</div>
</section>

<section class="rb-page-section">

	<div class="rb-col-group is-gutter">
		<div class="rb-col is-size-66">
			{{#with startpage.intro }}
				{{> rb_intro }}
			{{/with}}
		</div>
	</div>

	<div class="rb-col-group is-gutter">
		{{#each startpage.productItems }}
			<div class="rb-col is-size-33">
				{{> rb_item_standard }}
			</div>
		{{/each}}
	</div>


</section>


