/*********************************************************

Webfonts
----------------------------------------------------------

**********************************************************/
@font-face {
	font-family: 'LatoLatin';
	src: url('../fonts/LatoLatin-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'LatoLatinBlack';
	src: url('../fonts/LatoLatinBlack-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
