<div class="rb-intro">
	{{#if title}}
		<h1 class="intro-title">{{ title }}</h1>
	{{/if}}
	{{#if hook }}
		<div class="intro-textblock">
			<p class="intro-text">
				{{ hook }}
			</p>
		</div>
	{{/if}}
</div>
