<nav class="rb-main-nav">
	<h2 class="main-nav-heading">{{ title }}</h2>
	<ul class="main-nav-list">
		{{#each items }}
			<li class="main-nav-item">
				<a href="{{link}}" class="main-nav-link">{{ title }}</a>
			</li>
		{{/each}}
	</ul>
</nav>
