<footer class="rb-page-footer" role="contentinfo">
	<div class="is-column-group is-gutter">
		<div class="is-size-40">
			<div class="rb-banner">
				<ul class="banner-group">
					<li class="banner-item">
						<a href="http://www.boffinhouse.com" class="banner-link">
							<img class="banner-media" src="../img/byboffinhouse.svg" alt=""/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
