<div class="rb-stage">
	{{#if title}}
		<h1 class="stage-title">{{ title }}</h1>
	{{/if}}
	{{#if hook }}
		<div class="stage-textblock">
			<p class="stage-text">
				{{ hook }}
			</p>
		</div>
	{{/if}}
</div>
