/*********************************************************

rb-banner
----------------------------------------------------------

**********************************************************/
.rb-banner {
	width: 100%;

	.banner-item {
		width: 200px;
	}

	.banner-media {
		width: 100%;
	}

	.banner-link {
		display: block;
	}
}
