/*********************************************************

rb-stage
----------------------------------------------------------
The main intro element of the startpage
**********************************************************/
$font-family: $font-sans-serif;
.rb-stage {
	width: 100%;
	padding: 40px;
	background: $color-3c;

	.stage-title {
		margin: 0 0 20px;
		font: rb-rem-calc(100)/1.2 $font-header;
		color: $color-4k;
	}

	.stage-text {
		margin: 0;
		font: rb-rem-calc(28)/1.4 $font-family;
		color: $color-3g;
	}
}
