/*********************************************************

rb-sub-nav
----------------------------------------------------------
Subordinated navigation linklist.
**********************************************************/
.rb-sub-nav {
	width: 100%;
	padding: 20px;
	background: $color-1a;

	.sub-nav-group {

	}

	.sub-nav-section {
		margin: 0 0 20px 0;
	}

	.sub-nav-heading {
		margin: 0 0 10px;
		font-weight: 400;
	}

	.sub-nav-list {

	}

	.sub-nav-item {

	}

	.sub-nav-item-link {
		display: block;
		padding: 5px 0;
		color: $color-2a;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: $color-2b;
		}
	}
}
