/*********************************************************

rb-main-nav
----------------------------------------------------------
[1] khkjhkhkhk
**********************************************************/
.rb-main-nav {
	width: 100%;

	.main-nav-heading {
		@include rb-hide-text;
	}

	.main-nav-list {
		display: flex; /*[1]*/
		flex-wrap: wrap;
		margin: 0;
		list-style: none;
	}

	.main-nav-item {
		font: rb-rem-calc(18)/1.2 $font-sans-serif;
		color: $color-3a;
	}

	.main-nav-link {
		display: block;
		padding: 20px 30px;
		color: $color-3g;
		transition: box-shadow 200ms ease-in;

		&:hover,
		&:focus {
			color: $color-4d;
			box-shadow: inset 0 -4px 0 $color-4d;
		}
	}

	.main-nav-active {
		display: block;
		padding: 20px 30px;
		color: $color-3a;
		font-weight: 400;
		box-shadow: inset 0 -4px 0 $color-4d;
	}
}
