/*********************************************************

rb-item-standard
----------------------------------------------------------

**********************************************************/
$item-standard-bg-color: $color-3b;
$item-standard-padding: 20px 30px;

$item-standard-mediabox-margin: 0 0 10px;

.rb-item-standard {
	position: relative;
	width: 100%;
	background: $item-standard-bg-color;
	padding: $item-standard-padding;

	.item-standard-title {
		margin: 0 0 20px;
		font: rb-rem-calc(38)/1.2 $font-header;
		color: $color-3g;
	}

	.item-standard-link {
		@include rb-hide-text;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.item-standard-mediabox {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%;
		margin: $item-standard-mediabox-margin;
	}

	.item-standard-mediabox-inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.item-standard-media {
		width: 100%;
		height: 100%;
	}

	.item-standard-text {
		font: rb-rem-calc(18)/1.4 $font-sans-serif;
		margin: 0;
		color: $color-3g;
	}
}
